@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

select::-ms-expand {
  display: none;
}

.discount-bg {
  background: rgba(41, 121, 92, 0.7);
}
.fadeInOut {
  animation: fadeInOut 6s ease-out;
}

.stackedslideIn {
  animation: slideIn 1.5s ease-out;
}

.stackedslideOut {
  animation: slideOut 1.5s ease-in-out;
}

.openNav {
  animation: openNav 0.5s ease-in-out;
}

.closeNav {
  display: none;
  height: 0;
  opacity: 0;
  animation: closeNav 0.5s ease-out;
}

@keyframes openNav {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}

@keyframes closeNav {
  0% {
    height: 270px;
    opacity: 1;
    display: block;
  }
  100% {
    height: 0px;
    opacity: 0;
    display: none;
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.5;
  }
  10%,
  95% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    right: -1500px;
  }
  100% {
    right: 60px;
  }
}

@keyframes slideOut {
  0% {
    right: 60px;
  }
  20% {
    right: -500px;
  }
  100% {
    right: -1500px;
  }
}

@media screen and (max-width: 1000px) {
  @keyframes slideIn {
    0% {
      right: -1500px;
    }
    100% {
      right: 30px;
    }
  }
  @keyframes slideOut {
    0% {
      right: 30px;
    }
    100% {
      right: -1500px;
    }
  }
}

@media screen and (max-width: 400px) {
  @keyframes slideIn {
    0% {
      right: -1500px;
    }
    100% {
      right: 20px;
    }
  }
  @keyframes slideOut {
    0% {
      right: 20px;
    }
    100% {
      right: -1500px;
    }
  }
}

@layer base {
  html,
  body {
    font-family: "Rubik", sans-serif;
  }
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
p:hover {
  cursor: default;
}

/*
Custom Tags */
.tags-input-container {
  border: 1px solid #edeaec;
  padding: 0.5em;
  border-radius: 3px;
  /* width: min(80vw, 600px); */
  width: 100%;
  height: auto;
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.tag-item {
  background-color: #cbb8ef;
  display: inline-block;
  padding: 0.5em 0.75em;
  border-radius: 20px;
}
.tag-item .close {
  height: 20px;
  width: 20px;
  background-color: rgb(48, 48, 48);
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  font-size: 18px;
  cursor: pointer;
}

.tags-input {
  flex-grow: 1;
  padding: 0.5em 0;
  border: none;
  outline: none;
}
